.vscode/*.json
build/*.txt
build/*.cmake
build/*.json
build/*.ninja
build/CMakeFiles/*.log
build/CMakeFiles/*.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/*.bin
build/CMakeFiles/*.cxx
build/CMakeFiles/3.13.0/*.cmake
build/CMakeFiles/3.13.0/*.bin
build/CMakeFiles/3.13.0/CompilerIdCXX/*.cpp
build/CMakeFiles/3.13.0/CompilerIdCXX/a.*
